extends layout

block content
    .section#partTwo(style="z-index:-9!important")
        .container
            .row
                h4.header.center Resultados
                h5.header.light.center Vamos a ver resultados tuyos vs los míos.
                .col.s12.l6
                    ul.collection.with-header
                        li.collection-header #[h4 Lo que sabes de mi]
                        each answer in answersPtOne
                            li.collection-item= answer.question 
                                span 
                                    | - 
                                b= answer.answer

                .col.s12.l6
                    ul.collection.with-header
                        li.collection-header #[h4 Lo que debe ser]
                            li.collection-item Canción Favorita - #[b Sun & Moon - Above & Beyond]
                            li.collection-item Color Favorito - #[b Verde]
                            li.collection-item Director Favorito - #[b Rojo]
                            li.collection-item Helado Favorito - #[b Todos Alav]
                            li.collection-item Libro Favorito - #[b The Martian]
                            li.collection-item Lugar favorito - #[b Chilling]
                            li.collection-item Mejor Amigo - #[b Julio]
                            li.collection-item Pandita favorito- #[b Verde]
                            li.collection-item Pizza y Tacos con Piña - #[b Si]
                            li.collection-item Quiero saber todo - #[b Obvio microbio]   

                .col.s12.l6
                    ul.collection.with-header
                        li.collection-header #[h4 Lo que se de ti]
                         each answer in answersPtTwo
                          li.collection-item= answer.question 
                                span 
                                    | - 
                                b= answer.answer
                                if answer.answer === 'yes'
                                    a.secondary-content #[i.material-icons check]