extends layout

block content
    .section#partOne
      .cotainer
        .row
          h4.center Una ligera introducción
          h5.header.light.center Te voy a contar los hechos a través de mis ojitos.
          .col.s12.l3.card.medium
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src="https://res.cloudinary.com/hammock-software/image/upload/c_scale,h_500/v1531281403/01_bzmd33.jpg")
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | First encounter
                i.material-icons.right more_vert
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Primer encuentro
                i.material-icons.right close
              p
                | Estoy casi seguro que tu tomaste la foto, pero de todos modos de no ser así, la primera vez que nos vimos oficialmente fue hace más de 5 años.
                | ¿Recuerdas qué te había dicho que ya te conocía de antes? igual y desde ese entonces te ubicaba de vista; yo también quedé anonadado cuándo miré con detalle las demás fotos y te vi sentada en el mitote.

          .col.s12.l3.card.medium
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src="https://res.cloudinary.com/hammock-software/image/upload/c_scale,h_500/v1531282401/02_k0yxny.jpg")
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | Second encounter
                i.material-icons.right more_vert
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Segundo encuentro
                i.material-icons.right close
              p
                | La secuencia de conocernos vernos en reuniones por cumpleaños de otros se convirtió en tendencia, pero esta vez sólo miraba a todo mundo.
                | Lo que sea que haya pasado ese día, junto con el anterior es parte del pasado que te formó hasta ahora, no lo niego, lo agradezco. #[br]
                | Ps: se ve mi cabeza en el fondo de la imagen, salimos todos en la foto.
                
          .col.s12.l3.card.medium
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src="https://res.cloudinary.com/hammock-software/image/upload/c_scale,h_500/v1531499024/05_cmryyv.jpg")
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | Prom
                i.material-icons.right more_vert
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Graduación Mayo
                i.material-icons.right close
              p
                | Me dices que no recuerdas haber hablado conmigo, pero yo sí recuerdo haber estado contigo y hablar un poco en la noche de prom. #[br]
                | En el after, igual al momento de verte estuve un rato contigo y bailamos todos, siempre tan eloquente tú. (No me recordabas de la ceremonia, sad) #[br]
                | Agradezco mucho a Dios que ese día no te haya pasado nada a mayores, material va y viene, pero tú vida no va y viene, no pararé de agradecer jamás. #[i.material-icons directions_car]

          .col.s12.l3.card.medium
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src="https://res.cloudinary.com/hammock-software/image/upload/c_scale,h_500/v1531318926/03_h5zjdr.jpg")
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | First meetup
                i.material-icons.right more_vert
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Primera charla
                i.material-icons.right close
              p
                | La manera más random en la cuál una pareja se conoce nos sucedío y nos hablamos por privera vez en un concierto de Reguetón. #[br]
                | No niego que desde un principio me dio curiosidad saber más de ti y por eso me la pasaba cerca cada momento posible. #[br]
                | No olvidemos que te alimenté con un pedazo de burrito lleno de love y después de que me dieras del canelazo con love. #[i.material-icons favorite]

          .col.s12.l3.card.medium
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src="https://res.cloudinary.com/hammock-software/image/upload/c_crop,g_center,h_1630/v1531326037/04_lpqtk3.jpg")
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | Second meetup
                i.material-icons.right more_vert
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Segunda charla
                i.material-icons.right close
              p
                | Quién diría que despúes de bailar un rato, nos veríamos en una reu de tus amigos de gene. #[br]
                | Platicar contigo otro rato fue de las mejores decisiones que he tomado en muchos años. #[br]
                | Esa papa que me ofreciste fue el principio de mi atracción por ti, y de la química que tenemos. #[i.material-icons favorite_border]

          .col.s12.l3.card.medium
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src="https://res.cloudinary.com/hammock-software/image/upload/c_crop,h_4608,y_1500/v1531504981/06_dowcgi.jpg")
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | First date
                i.material-icons.right more_vert
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Primera cita
                i.material-icons.right close
              p
                | Te lo juro que camino a tu casa estaba super nervioso porqué en realidad quería salir bien contigo. #[br]
                | Luego, recuerdo llegar y empezar a platicar contigo y poco a poco los nervios se fueron yendo. #[br]
                | Pero es imposible olvidar como hablamos de todo esa noche y como afinamos detalles entre nosotros. #[i.material-icons movie] #[br]
                | Ps: no veremos películas de terror/suspenso, pero nos podemos colar a otras. 

          .col.s12.l3.card.medium
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src="https://res.cloudinary.com/hammock-software/image/upload/v1531505708/07_jxyufq.jpg")
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | Second date
                i.material-icons.right more_vert
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Conocer a tu familia
                i.material-icons.right close
              p
                | Tienes una peculiar forma de hacerme necesitar estar contigo siempre, cada vez que me dices "te extraño" o "veñ",
                | mi corazón de pollo se súper sensibiliza y me obliga a tenerte a mi lado, ya sea yendo a verte con tu fam o ,
                | irte a ver a tu casa, sin razón más que estar contigo más tiempo, y cada vez quiero estar contigo más y más. #[i.material-icons group] #[br]
                | Ps: tu fam no es tan carrilla, te falta conocer a la mía y darte cuenta de la vida castrosa. 

          .col.s12.l3.card.medium
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src="https://res.cloudinary.com/hammock-software/image/upload/c_crop,h_983,w_700,x_250,y_525/v1531506369/08_v9rhr8.jpg")
            .card-content
              span.card-title.activator.grey-text.text-darken-4
                | 4+ dates
                i.material-icons.right more_vert
            .card-reveal
              span.card-title.grey-text.text-darken-4
                | Contigo sí a todo
                i.material-icons.right close
              p
                | A partir de la tercera cita, se nos hizo demasiado sencillo pasar el resto de los días juntos, y salir en paquete si invitabana  uno solamente. #[br]
                | Me encantó el hecho de solo ver películas, comer, llevarte al oxxo, cualquier cosa que sea excusa de estar contigo es valida. #[br]
                | Nuestra cuarta cita, fue la qué marcó más nuestra afinidad y nos hizo ver como te veían tus amigos cuándo estabas conmigo. (Chefcito encu) #[i.material-icons hot_tub] #[br]

    .section(style="margin-top:-40px")
        .container
            h4.header.center ¿Lista para las preguntas? 
            .row.center
                h5.header.col.s12.light Picale y haz el cuestionario. 
            .row.center
                a.btn-large.waves-effect.waves-light.modal-trigger(href="/part-two") Vamos