extends layout

block content
    .section#partTwo(style="z-index:-9!important")
        .container
            .row
                h4.header.center Segundo Test
                h5.header.light.center Esto es todo lo que yo sé de ti, contesta si o no.
                .col.s12.l6
                form#formTwo(method="POST" action="/part-three")
                    .row
                        .radio.input-field.col.s12.row
                            p
                                label.col.s12 Color favorito - #[b Morado]
                                label.col.s6.l3 #[input(required name="Color favorito" type="radio" value="yes")] #[span Si]
                                label.col.s6.l3 #[input(required name="Color favorito" type="radio" value="no")] #[span No]
                        .radio.input-field.col.s12.row
                            p
                                label.col.s12 Comida favorita - #[b Sushi & Pasta]
                                label.col.s6.l3 #[input(required name="Comida favorita" type="radio" value="yes")] #[span Si]
                                label.col.s6.l3 #[input(required name="Comida favorita" type="radio" value="no")] #[span No]
                        .radio.input-field.col.s12.row
                            p
                                label.col.s12 Actividad favorita - #[b Cocinar y ser degustada]
                                label.col.s6.l3 #[input(required name="Cocinar y ser degustada" type="radio" value="yes")] #[span Si]
                                label.col.s6.l3 #[input(required name="Cocinar y ser degustada" type="radio" value="no")] #[span No]
                        .radio.input-field.col.s12.row
                            p
                                label.col.s12 Fact - #[b Te vas de lado al caminar]
                                label.col.s6.l3 #[input(required name="Te vas de lado al caminar" type="radio" value="yes")] #[span Correcto]
                                label.col.s6.l3 #[input(required name="Te vas de lado al caminar" type="radio" value="no")] #[span Nelson]
                        .radio.input-field.col.s12.row
                            p
                                label.col.s12 Fact - #[b Miedo a las Alturas]
                                label.col.s6.l3 #[input(required name="Miedo a las Alturas" type="radio" value="yes")] #[span Si]
                                label.col.s6.l3 #[input(required name="Miedo a las Alturas" type="radio" value="no")] #[span No]
                        .radio.input-field.col.s12.row
                            p
                                label.col.s12 Color de Cabello - #[b Chocolate/Rojizo]
                                label.col.s6.l3 #[input(required name="Chocolate/Rojizo" type="radio" value="yes")] #[span Si]
                                label.col.s6.l3 #[input(required name="Chocolate/Rojizo" type="radio" value="no")] #[span No]
                        .radio.input-field.col.s12.row
                            p
                                label.col.s12 Fact - #[b Amas los supers]
                                label.col.s6.l3 #[input(required name="Amas los supers" type="radio" value="yes")] #[span Simio]
                                label.col.s6.l3 #[input(required name="Amas los supers" type="radio" value="no")] #[span Nel]
                        .radio.input-field.col.s12.row
                            p
                                label.col.s12 Refresco favorito - #[b Ginger Ale/Sprite/Dr. Pepper]
                                label.col.s6.l3 #[input(required name="Ginger Ale/Sprite/Dr. Pepper" type="radio" value="yes")] #[span Si]
                                label.col.s6.l3 #[input(required name="Ginger Ale/Sprite/Dr. Pepper" type="radio" value="no")] #[span No]
                        .radio.input-field.col.s12.row
                            p
                                label.col.s12 Bebida Favorita - #[b Gin/Cerveza obscura]
                                label.col.s6.l3 #[input(required name="Gin/Cerveza obscura" type="radio" value="yes")] #[span Si]
                                label.col.s6.l3 #[input(required name="Gin/Cerveza obscura" type="radio" value="no")] #[span No]
                        .radio.input-field.col.s12.row
                            p
                                label.col.s12 Dulces Favoritos - #[b Skittles/Chocolates con nueces & almendras]
                                label.col.s6.l3 #[input(required name="Skittles/Chocolates con nueces & almendras" type="radio" value="yes")] #[span Si]
                                label.col.s6.l3 #[input(required name="Skittles/Chocolates con nueces & almendras" type="radio" value="no")] #[span No]
                        .radio.input-field.col.s12.row
                            p
                                label.col.s12 Fact - #[b No chicharos]
                                label.col.s6.l3 #[input(required name="No chicharos" type="radio" value="yes")] #[span Simona]
                                label.col.s6.l3 #[input(required name="No chicharos" type="radio" value="no")] #[span Ño]
                        .radio.input-field.col.s12.row
                            p
                                label.col.s12 Película Favorita - #[b Dama & Vagabundo/Libro de la Selva]
                                label.col.s6.l3 #[input(required name="Dama & Vagabundo/Libro de la Selva" type="radio" value="yes")] #[span Si]
                                label.col.s6.l3 #[input(required name="Dama & Vagabundo/Libro de la Selva" type="radio" value="no")] #[span No]
                        .radio.input-field.col.s12.row
                            p
                                label.col.s12 Fact - #[b Gorras 4EVER]
                                label.col.s6.l3 #[input(required name="Gorras 4EVER" type="radio" value="yes")] #[span Si++]
                                label.col.s6.l3 #[input(required name="Gorras 4EVER" type="radio" value="no")] #[span Nop]
                        .radio.input-field.col.s12.row
                            p
                                label.col.s12 Fact - #[b No te gustan los circos]
                                label.col.s6.l3 #[input(required name="No te gustan los circos" type="radio" value="yes")] #[span Aja]
                                label.col.s6.l3 #[input(required name="No te gustan los circos" type="radio" value="no")] #[span No]
                        .radio.input-field.col.s12.row
                            p
                                label.col.s12 Fact - #[b No te gustan las thunderstorms]
                                label.col.s6.l3 #[input(required name="No te gustan las thunderstorms" type="radio" value="yes")] #[span Indeed]
                                label.col.s6.l3 #[input(required name="No te gustan las thunderstorms" type="radio" value="no")] #[span No]
                        .radio.input-field.col.s12.row
                            p
                                label.col.s12 Fact - #[b No te gustan las galletas de frutas]
                                label.col.s6.l3 #[input(required name="No te gustan las galletas de frutas" type="radio" value="yes")] #[span Guacala, eso no se hace]
                                label.col.s6.l3 #[input(required name="No te gustan las galletas de frutas" type="radio" value="no")] #[span No]
                        .radio.input-field.col.s12.row
                            p
                                label.col.s12 Fact - #[b Te gustan los abrazos]
                                label.col.s6.l3 #[input(required name="Te gustan mis abrazos" type="radio" value="yes")] #[span Solo tuyos]
                                label.col.s6.l3 #[input(required name="Te gustan mis abrazos" type="radio" value="no")] #[span Ninguno]
                        .col.s12(style="margin-top:20px")
                            button.waves-effect.waves-green.btn(type="submit") Submit