$primary-color: #BB8D9E !default;
$primary-color-light: lighten($primary-color, 15) !default;
$primary-color-dark: darken($primary-color, 15) !default;
$secondary-color: #D62598 !default;
$secondary-color-light: lighten($secondary-color, 15) !default;
$secondary-color-dark: darken($secondary-color, 15) !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "base") !default;
@import 'node_modules/materialize-css/sass/materialize.scss';
span{z-index:-9999!important;}

